#wrapper {
    text-align: center;
    margin-top: 15%;
}

.block {
    margin: 10px;
    /* margin-top: 17%; */
    font-size: 30pt;
    border: none;
}

#hiragana {
    width: 400px;
    height: 150px;
    background-color: #3498db;
   /* margin-left: 27%; */
    display: inline-block; 
    vertical-align: top;
    cursor: pointer;
    color: white;
}

#hiragana:hover {
    background-color: #1276b9;
}

#katakana {
    width: 400px;
    height: 150px;
    background-color: #8e44ad;
    display: inline-block; 
    vertical-align: top;
    color: white;
}

#katakana:hover {
    background-color: #6C228B;
}